.container {
 width: 70%;
 padding: 18px;
}

hr {
  color: rgb(255, 121, 80);
  width: 100%;
}

h4 {
  color:dimgray;
}

.List {
  color: rgb(255, 121, 80);
}

.card {
  margin-bottom: 5px;
}

.row {
  padding: 15px;
}

